Source: audioreach-kernel
Section: kernel
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-dkms,
 dh-sequence-dkms,
 cpio,
Standards-Version: 4.7.2
Testsuite: autopkgtest-pkg-dkms
Homepage: https://github.com/AudioReach/audioreach-kernel

Package: audioreach-kernel-dkms
Architecture: arm64
Depends:
 dkms,
 ${misc:Depends},
Recommends:
 linux-headers-generic | linux-headers,
Description: AudioReach kernel drivers (DKMS)
 AudioReach Kernel provides out-of-tree Linux kernel drivers
 that enable communication between the AudioReach signal
 processing framework running on an audio DSP and userspace
 graph service libraries.
 .
 These drivers integrate AudioReach with the Linux kernel,
 allowing control and data exchange between host CPU and DSP-
 based audio processing pipelines.
 .
 This package uses DKMS to automatically build and install the
 modules for supported kernel versions.

Package: audioreach-config
Architecture: all
Depends:
 ${misc:Depends},
Description: AudioReach userspace configuration
 This package contains:
  - udev rules
  - modprobe configuration

Package: audioreach-kernel-dev
Architecture: all
Multi-Arch: foreign
Description: Development headers for AudioReach kernel drivers
 This package provides header files and interfaces required to
 build userspace applications or kernel modules that integrate
 with AudioReach kernel drivers.
Section: libdevel
Depends:
 ${misc:Depends},
