#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

DKMS_STAGED := debian/audioreach-kernel-dkms/usr/src/audioreach-kernel-$(DEB_VERSION_UPSTREAM)

%:
	dh $@ --with dkms

override_dh_install:
	mkdir -p $(DKMS_STAGED)
	find . -path ./debian -prune -o \
		-path ./.pc -prune -o \
		-path ./.git -prune -o \
		-path ./.github -prune -o \
		-print0 | cpio -0p $(DKMS_STAGED)/
	dh_install


override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)

override_dh_auto_clean override_dh_auto_build override_dh_auto_test override_dh_auto_install:
